[flake8]
max-line-length = 120
extend-ignore = 
    E302,
    E305,
    E306,
    E701,
    E722,
    E261,
    W291,
    W293,
    E111,
    E117,
    E501,
    W391
exclude = 
    .venv,
    __pycache__
